.page-link{
    border: 1px solid $primary;
    color: $primary;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.page-link:hover {
    background-color: #1fa868;
    border: 1px solid #1fa868;
    color: white;
}